.order-page {
    display: flex;
    justify-content: flex-start; /* Align the child components to the start horizontally */
    align-items: start; /* Align the child components to the top */
    height: 100vh; /* Full height of the viewport */
    width: 100vw;
  }
  
  .orders {
    width: 320px; /* Adjust width as needed */
    /* Additional styling */
  }
  
  .order-details {
    width: 900px; /* Adjust width as needed */
    /* Additional styling */
  }