.container {
    font-family: 'Arial', sans-serif;
    max-width: 90vh;
    margin: 0 250px;
    padding: 20px;
    text-align: center;
    overflow-y: scroll;
  }
  
  .header {
    color: #333;
    margin-bottom: 20px;
  }
  
  .reservation-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
  }
  
  .reservation-detail {
    margin: 5px 0;
    font-weight: bold;
  }
  